/* src/pages/AboutUs.css */
.about-us {
  font-family: Arial, sans-serif;
    color: #2e3b4e;
    margin: 0;
    padding: 20px;
    background-color: #b0e9e9;  
  }
  
  .hero-section {
    background-image: url('https://webtt.gccexchange.sg/webtt/images/gcc-webtt-about-us.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 1500px;
    text-align: middle;
    background-color: #4caf50;
    color: white;
    padding: 10px 0;
  }
  
  .hero-section h1 {
    font-size: 2.0rem;
    margin-bottom: 1px;
  }
  
  .hero-section p {
    font-size: 1.2rem;
    margin-bottom: 130px;
  }
  
  .cta-button {
    background-color: #6e0ef6;
    padding: 10px 20px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    color: rgb(243, 243, 243);
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: #1115f9;
  }
  
  .our-mission, .why-choose-us, .academic-testimonials, .call-to-action {
    text-align: center;
    margin: 30px 0;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  /*ul li {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }*/
  
  ul li h3 {
    color: #4caf50;
  }
  
  .timeline {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .timeline-item {
    background-color: #ffffff;
    padding: 20px;
    width: 30%;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .timeline-item h3 {
    font-size: 1.5rem;
    color: #4caf50;
  }
  
  .academic-testimonials p {
    font-size: 1rem;
    color: #333;
    margin: 15px 0;
    background-color: #fff;
    border-left: 5px solid #4caf50;
    padding: 10px 20px;
  }
  
  .academic-testimonials p:hover {
    background-color: #f4f7f6;
  }
  
  .call-to-action p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .call-to-action .cta-button {
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    .timeline-item {
      width: 100%;
    }
  
    .timeline {
      flex-direction: column;
    }
  }